body {
	font-family: 'Roboto', sans-serif;
}
.deck-block {
	padding: 10px;
}

.card-block {
	padding-bottom: 10px;
	float: left;
	clear: left;
	width: 102%;
}
.left-block, .right-block {
	width: 354px;
	float: left;
}

.card-row {
	font-size: 14px;
	padding: 4px 0;
	margin: 2px;
	width: 100%;
	line-height: 1.5;
	height: 27px;
}

.card-row .actions {
	text-align: right;
}

div .active {
	background-color: #f5f5f5;
}