.deck-block {
	padding: 10px;
}

.card-block {
	padding-bottom: 10px;
	float: left;
	clear: left;
	width: 100%;
}

.left-block {
	float: left;
}

.right-block {
	float: left;
}

.card-row {
	font-size: 12px;
	padding: 2px;
	margin: 2px;
	width: 100%;
	line-height: 1.5;
}

.card-row .actions {
	text-align: right;
}

div .active {
	background-color: #f5f5f5;
}