<template name="myDeck">
	{{#unless hasUser}}
		Please sign in to manage your deck
	{{else}}
		{{#if userHasDeck}}
			{{#with myDeck}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>My Deck (Total Cost: {{totalCost}}) <!--<button type="button" class="btn btn-danger remove-deck"><span class="glyphicon glyphicon-remove"></span></button>--></h3>
					</div>
					<div class="panel-body">
						<div class="col-md-8">
							{{>deckDetail}}
						</div>
						
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">Add Card</div>
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="newCardName" class="col-sm-4 control-label">Card Name</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="newCardName" placeholder="Card Name">
											</div>
										</div>
										<div class="form-group">
											<label for="newCardCost" class="col-sm-4 control-label">Card Cost</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="newCardCost" placeholder="Card Cost">
											</div>
										</div>
										<div class="form-group">
											<label for="newCardType" class="col-sm-4 control-label">Type</label>
											<div class="col-sm-8">
												<select class="form-control" id="newCardType">
													<option>Choose one...</option>
													<option>Creature</option>
													<option>Instant</option>
													<option>Sorcery</option>
													<option>Planeswalker</option>
													<option>Artifact</option>
													<option>Enchantment</option>
													<option>Land</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-4 col-sm-8">
												<button type="submit" class="btn btn-primary add-card">Add</button>												
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="deck-block available-cards">
								<div class="card-block">
									<h4>Available cards ({{availableCards.count}})</h4>
									{{#each availableCards}}
										{{>cardRow}}							
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/with}}
		{{else}}
			
			<div>
				You don't have a deck, pick one from the <a href="{{pathFor 'preconsList'}}">precons</a> page.
			</div>
		{{/if}}
	{{/unless}}
</template>